
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;

    background-color: whitesmoke;

    min-width: 362px;
}

.hero-bk {
    background-color: rgba(133, 191, 117, 0.697);
}

#top-menu {
    color:black;
}

/* Stop the top menu button from highlighting on a click */
#top-menu:focus,
#top-menu:active,
#top-menu.focus,
#top-menu.active {
    box-shadow: none !important; 
    outline: none !important;
    border-color: inherit !important;
}

#cursor {
    width:8vw;
    background-color: #e3f2fd;
    opacity: 0;
}

select {
    border-width: 0;
    background-color: rgba(255, 255, 255, 0);
}

footer, header {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;

    align-self: center;
}

header {
    background-color: #e3f2fd;
}

#hi-im {
    font-size: 8vw;
    font-weight: bolder;
}


#page-samples {
    
    background: url('../img/main-background.jpg') center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#posn-intro {
    
}

#page-contactme {
    background-color:#e3f2fd;
    border-radius: 1vw;
}

.form-radial {
    border-radius: 1vw;
    padding: 1vw;
    border-color: darkgray;
}

.samples-card {
    background-color: #c0e5ff;
    transition: all 0.1s ease-in-out;
}
.samples-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    z-index: 5;
}

#hero-img {
    opacity: 0;

  /* The element that has the hole cut into it (the paper in your example) */
  background-color: whitesmoke;
 
}

.reveal-on-scroll {
  opacity: 0; 
  transform: translateY(20px); 
  transition: opacity 1s ease-out, transform 0.6s ease-out;
}

/* --- Final State (Visible) --- */
.revealed {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Return to original position */
}

#all-section {
    background-color: gray;
    opacity: 1;
}

/*
 * Introductory Animations 
 */

/* 0. Animation: Fade in cursors before typing, then fade them out again using opacity */
.fade-our-cursors {
    opacity: 0;
    animation: 
        fade-our-cursors-animation 10s steps(100) 1; 
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes fade-our-cursors-animation {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    70%  { opacity: 1; }
    90%  { opacity: 0; }
}

/* 1. Animation: Welcome text revealing as if typing by unhiding each character using width */
#typewriter {
    font-family: monospace; 
    font-size: 1.5em;

    width: 0; 
    overflow: hidden;
    white-space: nowrap; 

    animation: typing 8s steps(12) 1;
        
    animation-delay: 6s; 
    animation-fill-mode: forwards; 
}
@keyframes typing {
    0%   { width: 0%;  }
    15%  { width: 80%; }
    35%  { width: 80%; }
    40%  { width: 50%; }
    50%  { width: 50%; }
    75%  { opacity: 1; width: 50%; }
    90%  { opacity: 0; width: 50%; }
    100% { opacity: 0; width: 50%; }
}

/* 2. Animation: Fade in the hero image using opacity */
.fade-in-hero {
    animation: 
        fade-in-hero-animation 4s /* duration */ 
        steps(100) /* ensures a hard on/off toggle */ 
        1; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
@keyframes fade-in-hero-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* 3. Animation: Fade in Learn More button */
.fade-in-learn-more {
    opacity: 0;
    border-radius: 0 !important;

    animation: 
        fade-in-learn-more-animation 4s /* duration */ 
        steps(100) /* ensures a hard on/off toggle */ 
        1; 
    animation-delay: 16s;
    animation-fill-mode: forwards;
}
@keyframes fade-in-learn-more-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

