
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;

    min-width: 362px;
}

.hero-bk {
    background-color: rgba(133, 191, 117, 0.697);
}

#cursor {
    width:8vw;
    background-color: #e3f2fd;
    opacity: 0;
}

select {
    border-width: 0;
    background-color: rgba(255, 255, 255, 0);
}

#my-name, li {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;

    align-self: center;
}

header {
    background-color: #e3f2fd;
}



#hi-im {
    font-size: 8vw;
    font-weight: bolder;
}

#hero-img {
    opacity: 0;
}

#all-section {
    background-color: gray;
    opacity: 1;
}

/* Animation: Fade in our cusrsors */

/* 0. Animation: Fade in cursors before typing, then fade them out again using opacity */
.fade-our-cursors {
    opacity: 0;
    animation: 
        fade-our-cursors-animation 10s steps(100) 1; 
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
@keyframes fade-our-cursors-animation {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    70%  { opacity: 1; }
    90%  { opacity: 0; }
}

/* 1. Animation: Welcome text revealing as if typing by unhiding each character using width */
#typewriter {
    font-family: monospace; 
    font-size: 1.5em;

    width: 0; 
    overflow: hidden;
    white-space: nowrap; 

    animation: typing 8s steps(12) 1; 
        
    animation-delay: 6s; 
    animation-fill-mode: forwards; 
}
@keyframes typing {
    0%   { width: 0%;  }
    15%  { width: 80%; }
    35%  { width: 80%; }
    40%  { width: 50%; }
    50%  { width: 50%; }
    75%  { opacity: 1; width: 50%; }
    90%  { opacity: 0; width: 50%; }
    100% { opacity: 0; width: 50%; }
}

/* 2. Animation: Fade in the hero image using opacity */
.fade-in-hero {
    animation: 
        fade-in-hero-animation 4s /* duration */ 
        steps(100) /* ensures a hard on/off toggle */ 
        1; 
    animation-delay: 10s;
    animation-fill-mode: forwards;
}
@keyframes fade-in-hero-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* 3. Animation: Fade in Learn More button */
.fade-in-learn-more {
    opacity: 0;
    border-radius: 0 !important;

    animation: 
        fade-in-learn-more-animation 4s /* duration */ 
        steps(100) /* ensures a hard on/off toggle */ 
        1; 
    animation-delay: 16s;
    animation-fill-mode: forwards;
}
@keyframes fade-in-learn-more-animation {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

